* {
	box-sizing: border-box;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*.wrapper {
  	width: 960px;
  	margin: 0 auto;
}

/*h1 {
	width: 350px;
	padding: 75px 0 0 0;
	height: 0;
	background: url("images/h1-replace.png") no-repeat;
	overflow: hidden;
}*/

.top-bar {
	height: 80px;
	background-color: #dedede;
	border-bottom: 1px solid #bbbbbb;
	border-top: 6px solid #4b4d4a;
	padding-left: 301px;
}

.promise {
	padding-left: 326px;
	width: 848px;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32pt;
}

.p-2{
    font-size: 13pt;
    width: 378px;
    padding-top: 48px;
}
header {
	background-color: #e4e4e3;
	height: 53px;
	border-bottom: 2px solid #ffffff;
}

section {
	background-color: #268cc3;
	height: 420px;
	padding-top: 50px;
}

.section.one li{
		list-style-image: url(../images/blog-date.png);
}

.webpage {
	float: right;
	position: relative;
    top: -132px;
    right: 258px;

}

.login {
	float: right;
	padding-right: 330px;
}
nav {
	font-size: 12pt;
	padding-top: 20px;
	padding-left: 330px;
}

ul li {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
}

a:link { /* Essentially means a[href], or that the link actually goes somewhere */
    color: #555555;
}
a:visited {
}
a:hover {
}
a:active {
  background: #f9c249;
}

/*.buttons {
	font-family: "Arial Narrow", Arial, sans-serif;
}*/

.special {
	font-weight: normal;
}
footer {
	background-color: #4b4d4a;
	height: 360px;
}

footer h5 {
	font-size: 11pt;
}

footer p {
	font-size: 10pt;
}


.special{
	font-weight:regular;
}

.blog {
	/*font-size: 11pt;*/
}

footer div{
	position: relative;
}

.section {
    float: left;
    width: 220px;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
}



